@import "../shared/load";
$red: rgba(238,21,21,1);
div{
  height: calc(100vh - 278px);
  max-width: 800px;
  overflow: auto;
  margin: 0px auto 0;
  z-index: 2;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #222224;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb{
  background-color: darken($red, 14%);
}
table{;
  background-color: #f0f0f0;
  tr{
    cursor: pointer;
    &:hover{
      background-color: darken($red, 14%);
      color: #f0f0f0;
    }
  }
  td{
    &:nth-child(odd){
      padding-left: 50px;
      width: 10px;
    }
  }
}
input{
  width: 100%;
  max-width: 790px;
  padding: 5px 15px;
}
